#button_container {
    width: 100px;
    height: 50px;
}

#inner_button_container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button_label{
    font-size: 20px;
}

.clickable_button{
    background-color: blue;
    cursor: pointer;
    color: white;
}

.clickable_button:hover{
    box-shadow: inset 0 0 0 2px cornflowerblue;
}

.clickable_button:active{
    transform: scale(.98);
}

.unclickable_button{
    background-color: rgb(131, 131, 131);
    cursor: not-allowed;
    color: rgb(88, 88, 88);
}